pre {
  background: #eff0f1;
  padding: 10px;
  overflow: auto;
}

textarea {
  font-family: monospace;
}

.left.rail {
  text-align: right !important;
}

.ui.statistic {
  text-align: center !important;
}

#upvote {
  cursor: pointer;
}

.post-main {
  border: none !important;
}

.post-content {
  padding: 20px;
}

.post-comments {
  width: 40% !important;
  text-align: right;
}

.post-comments-content {
  text-align: left;
}

.post-comments-content-description p {
  display: inline !important;
}
