pre {
  background: #eff0f1;
  padding: 10px;
}

textarea {
  font-family: monospace;
}

.left.rail {
  text-align: right !important;
}

.ui.statistic {
  text-align: center !important;
}

#upvote {
  cursor: pointer;
}
