{% extends "layout.html" %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block content %}
<div class="ui container segment">
  <h1>Create a new post</h1>
  <form class="ui form" method='POST' action'/post'>
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" placeholder="Enter a title">
    </div>
    <div class="field">
      <label>Content</label>
      <textarea name="content" placeholder="Enter some content" rows="20"></textarea>
    </div>

    <div class="field">
      <label>Tags</label>
      <div class="ui fluid multiple search selection dropdown">
        <input name="tags" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">tags</div>
        <div class="menu">
        </div>
      </div>

    </div>

    <button class="ui button" type="submit">Submit</button>
    <a href="/">Cancel</a>

  </form>
</div>



{% endblock %}

{% block footer %}
<script>
$('.ui.dropdown')
  .dropdown({
    apiSettings: {
      url: '/tags/list',
      cache: false,
    },
    filterRemoteData: true,
    allowAdditions: true,
  })
;
</script>
{% endblock %}
