{% extends "layout.html" %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block content %}
<div class="ui container segment">
  <h1>{{ title }}</h1>
  <form class="ui form" method='POST' action="{{ url_for('post_pages.onEditPost', post_id=post_id) }}">
    <div class="field">
      <label>Content</label>
      <textarea name="content">{{ content }}</textarea>
    </div>
    <button class="ui button" type="submit">Submit</button>
    <a href="{{ url_for('post_pages.onViewPost', post_id=post_id) }}">Cancel</a>
  </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
