{% extends "layout.html" %}

{% block head %}
<title>Main home page</title>
{% endblock %}

{% block content %}
<div class="ui container segment">

  <div class="ui divided items">
  {% for post in posts %}

    <div class="item">
      <div class='ui image'>
        <div class="ui statistics">
          <div class="ui grey mini statistic">
            <div class="value">
              {{ post.votes }}
            </div>
            <div class="label">
              Votes
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <a class="header" href="{{ url_for('post_pages.onViewPost', post_id=post.id) }}">{{ post.title }}</a>
        <div class="meta">
          <p>{{ post.content[:320] }}{% if post.content|length > 320 %} ... {% endif %}</p>
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            Buy tickets
            <i class="right chevron icon"></i>
          </div>
          <i class="grey tag icon"></i>
          <div class="ui label">IMAX</div>
          <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
        </div>
      </div>
    </div>

  {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
