{% extends "layout.html" %}

{% block head %}
<title>{{ post.title }} - Wikifier</title>
{% endblock %}

{% block content %}
<div class="ui container vertical segment">
  <h1>{{ post.title }}</h1>
  <small class="ui right floated">Posted {{ time_ago(post.updated) }} by <i>{{ post.user.username }}</i></small>
</div>
<div class="ui container vertical segment post-main">
  <div class="ui left very close rail">
    <div class="ui grey statistic">
      {% if not current_user.is_anonymous %}
      <div class="label">
        <a href="{{ url_for('post_pages.onPostVote', post_id=post.id) }}">
          <i class="huge {% if voted %}orange{% else %}grey{% endif %} angle up icon"></i>
        </a>
      </div>
      {% endif %}
      <div class="value">
        {{ post.votes|length }}
      </div>
    </div>
  </div>
  <div class="ui vertical segment">

    {{ markdown(post.content)|safe }}

    {% for tag in post.tags %}
    <div class="ui label"><i class="grey tag icon"></i> {{ tag.name }}</div>
    {% endfor %}

  </div>
  <div class="ui horizontal list">
    {% if not current_user.is_anonymous and ( current_user.admin or current_user.id == post.user_id ) %}
    <a class="item" href="{{ url_for('post_pages.onEditPost', post_id=post.id) }}">edit</a>
    <a class="item" href="{{ url_for('post_pages.onRemovePost', post_id=post.id) }}">delete</a>
    {% endif %}
  </div>
</div>

<div class="ui container vertical segment post-comments">
  <div class="ui divided list post-comments-content">

    {% for comment in comments %}

      <div class="item">
        <img class="image">
        <div class="content">
          <div class="description post-comments-content-description">
            {{ markdown(comment.content)|safe }} - <a>{{ comment.user.username }}</a> <i>{{ time_ago(comment.updated) }}</i>

            {% if not current_user.is_anonymous and ( current_user.admin or current_user.id == comment.user_id ) %}
            <a href="{{ url_for('post_pages.onRemovePostComment', post_id=post.id, comment_id=comment.id) }}">
              <i class="grey times circle icon"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>

    {% endfor %}

  </div>

  {% if not current_user.is_anonymous %}
  <form class="ui form" method='POST' action="{{ url_for('post_pages.onPostComment', post_id=post.id) }}">
    <div class="field">
      <textarea name="content" placeholder="Comment" rows=2></textarea>
    </div>
    <button class="ui button" type="submit">Add comment</button>
  </form>
  {% endif %}

</div>

{% endblock %}

{% block footer %}
{% endblock %}
